*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;

}

/* sass */
:root{
    --primary-color: rgb(117, 46, 117);
    --secondary-color:green;
}
 .navbar{
    background: var(--primary-color);
    
 }